.form-group {
  margin-right: 15px;
}

.card {
  max-width: 1025px;
}

.form-control {
  min-width: 200px;
}

.custom-button {
  border: none;
  background-color: #5cb85f;
  color: white;
}

.custom-button:disabled {
  background-color: #5cb85f;
  color: white;
}

.custom-button:hover {
  background-color: #5cb85f;
  color: white;
}

.input-group-text {
  height: 37.6px;
}

.floating-form {
  margin-top: -30px; /* Adjust this value to control how much it floats up */
  margin-bottom: -30px; /* Adjust this value to control how much it floats down */
  position: relative;
  z-index: 10; /* Ensures the form appears on top */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Adjust shadow to create floating effect */
  border-radius: 10px; /* Optional: make the form corners rounded */
  background-color: #fff; /* Ensures a white background */
}

.nav-column {
  padding-left: 120px;
}

.address-column {
  padding-left: 75px;
}

.socmedia-column {
  padding-left: 70px;
}

.custom-carscontent {
  margin-top: 75px;
}

.h3-else {
  text-align: center;
}

.card-img-top {
  width: 100%; /* Make the image width fill the card */
  height: 200px; /* Set a fixed height for the images */
  object-fit: cover; /* Ensures the image covers the entire area without distortion */
}

.btn-pilih {
  background-color: #5cb85f;
  color: white;
  width: 100%;
}

.btn-pilih:hover {
  background-color: #5cb85f;
  color: white;
  width: 100%;
}
